$color-white: #fff;
$color-black: #000;
$color-text-black: #333;

$color-primary: #fbbd61;
$color-primary-bold: #ec7532;

$color-border: rgba(255, 255, 255, 0.2);

$color-gradient-primary: linear-gradient(to right, #fbbd61, #ec7532);
